<h1>Code Syntax Basics</h1>
<h2>RUBY</h2>
<h3>FOR</h3>
<p>for i in 1..1000
puts i if i % 7==0
end</p>
<p>3.times{ |x| puts x}</p>
<p>(1..100).each do |k|
puts "#{k}. This is Ruby preferred way of doing loops, when possible"
end                  </p>
<p>(1..100).each{ |k| puts "#{k}. Curly braces make it even shorter"}</p>
<h3>WHILE</h3>
<p>while x > 0          <br />
x -= 1
puts "This loop will run #{x} more times"
end</p>
<p>puts "This loop will run #{x -= 1} more times" while x > 0</p>
<p>IF ----
if x === 3
p "X is 3"
elsif x > 3
p "X is greater than 3"
else
p "X is less than 3"
end</p>
<p>p "X is 3" if x === 3
p "X is greater than 3" if x > 3
p "X is less than 3" if x &lt; 3</p>
<h3>ARRAY &amp; HASH</h3>
<p>array = []
array = [ 1, "cat" ]
array &lt;&lt; -1200 or array.push(-1200)
array === [ 1, "cat", -1200 ]
array[2] === -1200
array[-2] === "cat"</p>
<p>hash = {}
hash = { 1=>"Alaska", "blue"=>"orange", "The answer to life"=>42, -100=>200 }
hash.default = "default value" // if you call the Hash on a symbol that does not exist, the default will return
hash.[new_key] = "New value" // add a new key/pair to hash</p>
<h2>JAVASCRIPT</h2>
<h3>VARIABLES</h3>
<p>Must be declared or they become global.</p>
<p>var x1 = {};           // new object
var x2 = "";           // new primitive string
var x3 = 0;            // new primitive number
var x4 = false;        // new primitive boolean
var x5 = [];           // new array object
var    x6 = /()/          // new regexp object
var x7 = function(){}; // new function object</p>
<p>var x, y, z=3; // Declare multiple variables on one line. </p>
<h3>LOOP BREAK</h3>
<p>break;</p>
<h3>FOR</h3>
<p>for( i=0; i &lt; array.length; i++ ) {
console.log(array[i])
}</p>
<p>for(var i in allImgs) {</p>
<pre><code>code block;</code></pre>
<p>}</p>
<h3>WHILE</h3>
<p>while (condition) {</p>
<pre><code>code block;</code></pre>
<p>}</p>
<p>do {</p>
<pre><code>code block;</code></pre>
<p>}
while (condition);</p>
<h3>IF</h3>
<p>if (condition) {</p>
<pre><code>code block;</code></pre>
<p>} else if (condition) {</p>
<pre><code>code block;</code></pre>
<p>} else {</p>
<pre><code>code block;</code></pre>
<p>}</p>
<h3>TRUE or FALSE</h3>
<p>if(condition); // do if TRUE
if(!condition); // do if FALSE</p>
<h3>ARRAY &amp; OBJECT</h3>
<p>All variables must be declared or they become global!
var array = [];
var array = [ 1, "cat" ];
array.push(-1200);
array === [ 1, "cat", -1200 ];
array[2] === -1200;
array[-2] === "cat";</p>
<p>Objects are similiar to Ruby Hashes, but cannot be accessed by index[num]
var object = {};
var object = { 1: "Alaska", blue: orange", "The answer to life": 42, -100: 200 }; // key becomes a symbol with or without ''
object["new_key"] = "New Value";
object === {1: "Alaska", blue: orange", The answer to life: 42, -100: 200, new_key: "New Value" };</p>
<h3>DOM MANIPULATION</h3>
<p>onclick="document.getElementById('#id').style.color = 'red'"</p>