<h2>Code Tutorials</h2>
<p><a href="http://tryruby.org/">http://tryruby.org/</a>
<a href="http://www.codecademy.com/">http://www.codecademy.com/</a>
<a href="https://www.codeschool.com/">https://www.codeschool.com/</a>
<a href="http://www.w3schools.com/">http://www.w3schools.com/</a></p>
<h2>Code References</h2>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">https://developer.mozilla.org/en-US/docs/Web/HTML/Element</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">https://developer.mozilla.org/en-US/docs/Web/CSS/Reference</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference</a>
<a href="http://api.jquery.com/">http://api.jquery.com/</a>
<a href="http://www.ruby-doc.org/">http://www.ruby-doc.org/</a>
<a href="http://www.steamdev.com/snippet/">http://www.steamdev.com/snippet/</a></p>
<h1>Frameworks</h1>
<h2>HTML/CSS</h2>
<p><a href="http://jquerymobile.com/">http://jquerymobile.com/</a>
<a href="http://ionicframework.com/">http://ionicframework.com/</a>
<a href="http://getbootstrap.com/">http://getbootstrap.com/</a></p>
<h2>JavaScript</h2>
<p><a href="http://jquery.com/">http://jquery.com/</a>
<a href="https://angularjs.org/">https://angularjs.org/</a></p>
<h2>Ruby</h2>
<p><a href="http://www.sinatrarb.com/">http://www.sinatrarb.com/</a>
<a href="http://www.padrinorb.com/">http://www.padrinorb.com/</a>
<a href="http://rubyonrails.org/">http://rubyonrails.org/</a></p>