<h2 id="ruby-to-sql-links">Ruby to SQL Links</h2>
<p><a href="http://www.w3schools.com/sql/">http://www.w3schools.com/sql/</a>
<a href="https://rubygems.org/gems/activerecord">https://rubygems.org/gems/activerecord</a>
<a href="http://code.tutsplus.com/tutorials/active-record-the-rails-database-bridge--net-30489">http://code.tutsplus.com/tutorials/active-record-the-rails-database-bridge--net-30489</a>
<a href="https://rubygems.org/gems/datamapper">https://rubygems.org/gems/datamapper</a>
<a href="http://datamapper.org/docs/">http://datamapper.org/docs/</a></p>
<h2 id="sqlite3">SQLite3</h2>
<p><a href="http://www.sqlite.org/docs.html">http://www.sqlite.org/docs.html</a>
<a href="https://github.com/sparklemotion/sqlite3-ruby">https://github.com/sparklemotion/sqlite3-ruby</a>
<a href="https://rubygems.org/gems/sqlite3">https://rubygems.org/gems/sqlite3</a>
<a href="http://rubydoc.info/gems/sqlite3/1.3.9/frames">http://rubydoc.info/gems/sqlite3/1.3.9/frames</a></p>
<h2 id="mysql">MySQL</h2>
<p><a href="http://dev.mysql.com/doc/">http://dev.mysql.com/doc/</a>
<a href="https://rubygems.org/gems/mysql2">https://rubygems.org/gems/mysql2</a></p>
<h2 id="postgres">Postgres</h2>
<p><a href="http://www.postgresql.org/docs/">http://www.postgresql.org/docs/</a>
<a href="https://rubygems.org/gems/pg">https://rubygems.org/gems/pg</a>
<a href="http://rubydoc.info/gems/pg/PG/Connection">http://rubydoc.info/gems/pg/PG/Connection</a></p>
