# responsive.css
# Ryan J Spencer
#
#	Charcoal #3333333
#	Mid Grey  #666666
#	Light Grey #999999
#	Off White  #fefeff
#	Orange  #f09811
#	Blue  #336688
#	Yellow  #FFCC00


/* style reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* End reset code */


body  {
	background: #fefeff;
	font-family: arial, sans-serif;
	font-size: 12pt;
	color: charcoal;
}

img  {
	border: 2px solid #999;
    float: right;
    margin: 10px;
}

a  {
	text-decoration: none;
    color: #f09811;
}

a:hover  {

}

h3  {
    font-family: 'Volkhov', serif;
    color: #336688;
    font-size: 1.8em;
}

h4  {
    font-family: 'Volkhov', serif;
    color: #ddd;
    font-size: 1em;
    padding: 2px;
    text-align: center;
    background: #336688;
    width: 100%;
}

header  {
    font-family: 'Volkhov', serif;
	background: #333;
	border-bottom: 5px solid #336688;
	color: #DDD;
	position: fixed;
	z-index: 50;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
    font-size: 12pt;
    margin: 0px;

}

.header_space  {
    position: static;
    width: 100%;
    height: 60px;
}

.scrolled  {
    font-size: 8pt;
    height: 40px;
}

#social  {
    font-family: FontAwesome;
    font-size: 2em;
    color: #fefeff;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 70; 
}

#social a  {
    padding-right: .5em;
}

#logo   {
    z-index: 60;
    color: #DDD;
    font-size: 2.55em;
    font-weight: bold;
    position: relative;
    top: .6em;
    left: 50px;
    text-shadow: 0px 2px 2px #666;
}

article  {
	position: static;
    width: 70%;
	border: 5 px solid #666;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
	overflow: hidden;
}

.post_text  {
	height: auto;
    overflow-x: hidden;
	overflow-y: auto;
}

p  {
    position: relative;
    left: 10px;
}

.collapsed  {
	min-height: 200px;
	height: 200px;
	overflow: hidden;
}

.read_more  {
	position: relative;
	bottom: -10px;
	left: 10px;
	color: #336688;

}

.read_less  {
	position: relative;
	bottom: -10px;
	left: 10px;
	color: #336688;
	
}

.imgbox  {
	float: left;
    margin: 5px;
    margin-left: -10px;
}

.imgtext  {
    position: relative;
    left: 190px;
    bottom: 50px;
    background: #333;
    border: 1px solid #999;
    color: #DDD;
    height: 20px;
    min-width: 120px;
    padding: 5px;
    
}

nav  {
	position: fixed;
	top: 70px;
    right: 10px;
	width: 20%;
	padding: 10px;
	padding-left: 0px;
    padding-bottom: 20px;
	border: 1px solid #999;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    min-height: 100px;
    box-shadow: 3px 3px 5px #333;
}

.sidebox_link  {
    clear: both;
}

footer  {
	border-top: 1px solid #666;
	position: relative;
    top: 60px;
    text-align:center;
    padding: 10px;
}

#copyright  {
	color: #666;
	font-size: 14pt;
}

a #copyright  {
    color: #666;
}

a:hover #copyright  {
    color: #666;
}

#social  {
    font-family: FontAwesome;
    font-size: 2.5em;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 70; 
}

#social a  {
    padding-right: .5em;
    color: #fefeff;
}

#social a:hover  {
    text-shadow: 1px 1px 8px #f09811;
    color: #ddd;
    top: 12px;
}

#social.scrolled  {
    font-size: 1.6em;
}

#mbp  {
    width: 270px;
    height: 270px;
    padding: 10px;
    border: 3px solid black;
    margin: 30px;
    background: #999999;   
}

.code  {
    background: #333;
    padding: 20px;
    border-left: 5px dotted #dddddd;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width: 850px)  {
    nav  {
        width: 95%;
        margin: 0 auto;
        position: relative;
        border: 0px;
        padding: 0px;
        border-radius: 0;
        box-shadow: none;
    }
    article  {
        width: 95%;
        margin: 0 auto;
        padding: 0px;
        padding-bottom: 10px;
    }
    
}

@media screen and (max-width: 650px)  {

    #social  {
        position: static;
        width: 110%;
        background: #999999;
        border-bottom: 2px solid #666;
        text-align: center;
        padding: 0px;
        margin: 0 auto;
    }
    #social a  {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    img  {
        max-width: 90%;
    }
    .collapsed  {
        min-height: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 480px)  {
    article img  {
        float: center;
        clear: both;
        max-width: 90%;
        height: auto;
    }
}



