<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
      <contact>
          <name>Ryan Spencer</name>
          <phone><a href="tel:2196137551">219.613.7551</a></phone>
          <email><a href="mailto:ryanjoelspencer@gmail.com">ryanjoelspencer@gmail.com</a></email>
          <linkedin><a href="https://linkedin.com/in/ryanjoelspencer" target="_blank">linkedin.com/in/ryanjoelspencer</a></linkedin>
          <switch id="style-toggle"></switch>
      </contact>

      <summary>
          <heading>SUMMARY</heading>
          I enjoy both front-end and server-side work, though I'm strongest with user interface tasks. I love full-stack projects where I get to handle the user interaction all the way to the database and back.
      </summary>

      <skills>
          <heading>SKILLS</heading>
          <flexdeck>
              <card class="design">
                  <icon>
                      <?xml version="1.0" encoding="utf-8"?>
                      <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) http://www.entypo.com/ -->
                      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                      <svg version="1.1" id="New_message" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      	 y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                      <path fill="#2C5997" d="M18.174,1.826c-1.102-1.102-2.082-0.777-2.082-0.777L7.453,9.681L6,14l4.317-1.454l8.634-8.638
                      	C18.951,3.908,19.275,2.928,18.174,1.826z M10.605,11.605l-0.471,0.47l-1.473,0.5c-0.104-0.24-0.234-0.477-0.498-0.74
                      	c-0.264-0.264-0.5-0.394-0.74-0.498l0.5-1.473l0.471-0.47c0,0,0.776-0.089,1.537,0.673C10.693,10.828,10.605,11.605,10.605,11.605z
                      	 M16,17H3V4h5l2-2H3C1.9,2,1,2.9,1,4v13c0,1.1,0.9,2,2,2h13c1.1,0,2-0.9,2-2v-7l-2,2V17z"/>
                      </svg>
                  </icon>
                  <ul>
                      <li>Photoshop</li>
                      <li>Illustrator</li>
                      <li>InDesign</li>
                  </ul>
              </card>
              <card class="code">
                  <icon>
                      <?xml version="1.0" encoding="utf-8"?>
                      <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) http://www.entypo.com/ -->
                      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                      <svg version="1.1" id="Code" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      	 viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                      <path fill="#2C5997" d="M5.719,14.75c-0.236,0-0.474-0.083-0.664-0.252L-0.005,10l5.341-4.748c0.412-0.365,1.044-0.33,1.411,0.083
                      	s0.33,1.045-0.083,1.412L3.005,10l3.378,3.002c0.413,0.367,0.45,0.999,0.083,1.412C6.269,14.637,5.994,14.75,5.719,14.75z
                      	 M14.664,14.748L20.005,10l-5.06-4.498c-0.413-0.367-1.045-0.33-1.411,0.083c-0.367,0.413-0.33,1.045,0.083,1.412L16.995,10
                      	l-3.659,3.252c-0.413,0.367-0.45,0.999-0.083,1.412C13.45,14.887,13.725,15,14,15C14.236,15,14.474,14.917,14.664,14.748z
                      	 M9.986,16.165l2-12c0.091-0.545-0.277-1.06-0.822-1.151c-0.547-0.092-1.061,0.277-1.15,0.822l-2,12
                      	c-0.091,0.545,0.277,1.06,0.822,1.151C8.892,16.996,8.946,17,9.001,17C9.481,17,9.905,16.653,9.986,16.165z"/>
                      </svg>
                  </icon>
                  <ul>
                      <li><b>JS</b> jQuery, Angular, Ember</li>
                      <li><b>Ruby</b> Rails, Sinatra</li>
                      <li><b>PHP</b> Slim, Symfony</li>
                  </ul>
              </card>
              <card class="web">
                  <icon>
                      <?xml version="1.0" encoding="utf-8"?>
                      <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) http://www.entypo.com/ -->
                      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                      <svg version="1.1" id="Tablet_Mobile_combo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      	 x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                      <path fill="#2C5997" d="M17.00354,5H11.99646C10.8938599,5,10,5.8937988,10,6.9963989V18.00354
                      	C10,19.1061401,10.8938599,20,11.99646,20H17.00354C18.1061401,20,19,19.1061401,19,18.00354V6.9963989
                      	C19,5.8937988,18.1061401,5,17.00354,5z M14.5,19c-0.6904297,0-1.25-0.4473267-1.25-1c0-0.5527344,0.5595703-1,1.25-1
                      	c0.6895142,0,1.25,0.4472656,1.25,1C15.75,18.5526733,15.1895142,19,14.5,19z M17,16h-5V7h5V16z M8,16H3V2h12v1h2V2
                      	c0-1.1010742-0.8994141-2-2-2H3C1.9003906,0,1,0.8989258,1,2v16c0,1.0996094,0.9003906,2,2,2h5.5551758
                      	C8.2114258,19.4101562,8,18.7338867,8,18.003418V16z"/>
                      </svg>
                  </icon>
                  <ul>
                      <li>HTML5 + CSS3</li>
                      <li>Sass / SCSS</li>
                      <li>Bootstrap</li>
                  </ul>
              </card>
          </flexdeck>
      </skills>

      <education>
          <heading>EDUCATION</heading>
          <ul>
              <li>Dev Bootcamp</li>
              <li>Purdue - BS Marketing</li>
          </ul>
      </education>

      <jobs>
          <heading>CAREER EXPERIENCE</heading>
          <flexdeck>
              <card>
                  <subheading>
                      Everspring Partners
                      <date>Mar 2015 - Present</date>
                  </subheading>

                  <description><b>Marketing Developer</b><br>Build and maintain lead acquisition services including CMS, Angular forms, and SalesForce integration. Assist with UI and JavaScript in other areas including Canvas.
                  <ul>
                      <li>PHP</li>
                      <li>Angular &amp; Ember</li>
                      <li>WordPress</li>
                      <li>Bootstrap</li>
                      <li>Sass</li>
                  </ul>
                  <description>
              </card>
              <card>
                  <subheading>
                      StageBloc.com
                      <date>Oct 2014 - Jan 2015</date>
                  </subheading>

                  <description><b>Backend Developer</b><br>Sourced data from other social network APIs including Twitter, Facebook and SoundCloud. Optimized and increased readability of old code. Debugged errors from monitoring software.
                  <ul>
                      <li>PHP</li>
                      <li>Symfony</li>
                      <li>JavaScript</li>
                      <li>Vagrant</li>
                  </ul>
                  <description>
              </card>
              <card>
                  <subheading>
                      Hanover Central HS
                      <date>Aug 2012 - May 2014</date>
                  </subheading>

                  <description><b>Graphic Arts Teacher </b><br>Trained high school students in graphic design programs including Adobe Illustrator and Photoshop and related production techniques including printmaking, signmaking, and apparel printing.
                  <ul>
                      <li>Illustrator</li>
                      <li>Photoshop</li>
                      <li>InDesign</li>
                  </ul>
                  <description>
              </card>
          </flexdeck>
      </jobs>

      <accomplishments>
          <heading>RECENT ACCOMPLISHMENTS</heading>
          <flexdeck>
              <card>
                  <subheading>
                      Code Reviews
                  </subheading>
                  <description>
                      Lead transition to BitBucket and asynchronous code reviews to improve team code quality and promote learning.
                      <ul>
                          <li></li>
                      </ul>
                  </description>
              </card>
              <card>
                  <subheading>
                      Lead Microservice
                  </subheading>
                  <description>
                      Designed, built and maintained a lightweight service to quickly connect lead forms and aggregators to the Marketo API.
                      <ul>
                          <li></li>
                      </ul>
                  </description>
              </card>
              <card>
                  <subheading>
                      Angular Lead Forms
                  </subheading>
                  <description>
                      Created a standardized form app to handle user form interactions. Persisted lead attribution and user behavior data in the browser (localStorage) to be submitted with the lead form.
                      <ul>
                          <li></li>
                      </ul>
                  </description>
              </card>
              <card>
                  <subheading>
                      Automated Testing
                  </subheading>
                  <description>
                      Proposed and built a bi-hourly automated testing suite to verify form functionality and test sites for cross-client contamination
                      <ul>
                          <li></li>
                      </ul>
                  </description>
              </card>
          </flexdeck>
      </accomplishments>

      <projects>
          <heading>INDEPENDENT PROJECTS</heading>
          <flexdeck>
              <card>
                  <subheading>
                      Carrot - StartUp Weekend Education - 1st Place
                  </subheading>
                  <description>Two days of coding with 2 devs. Web based and optimized for mobile with separate teacher and administrator interfaces.
                      <ul>
                          <li>Ruby on Rails</li>
                          <li>JavaScript</li>
                          <li>jQuery</li>
                          <li>Foundation</li>
                      </ul>
                  </description>
              </card>

              <card>
                  <subheading>TreeFrog - Animal Kingdom Explorer</subheading>
                  <description>Built a custom animated visualization of the relationships between over 1 million animal species.
                      <ul>
                          <li>Ruby</li>
                          <li>Sinatra</li>
                          <li>JavaScript</li>
                          <li>jQuery</li>
                          <li>Flexbox</li>
                      </ul>
                  </description>
              </card>

              <card>
                  <subheading>Gasulator - Vehicle Cost Calculator</subheading>
                  <description><strong>APIs</strong> US Gov, GasBuddy, Google Maps, Edmunds <br><strong>Technologies</strong> Ruby on Rails, JS &amp; jQuery, Postgres, Foundation
                      <ul>
                          <li>Ruby on Rails</li>
                          <li>JavaScript</li>
                          <li>jQuery</li>
                          <li>Foundation</li>
                      </ul>
                  </description>
              </card>

              <card>
                  <subheading>Facebook Photo Competition</subheading>
                  <description>Photo competition where Facebook likes equal votes.
                      <ul>
                          <li>PHP</li>
                          <li>Facebook API</li>
                          <li>MySQL</li>
                      </ul>
                  </description>
              </card>

              <card>
                  <subheading>Payroll Manager</subheading>
                  <description>Calculate paychecks, monthly tax fillings, and end of year W2s.
                      <ul>
                          <li>PHP</li>
                          <li>MySQL</li>
                      </ul>
                  </description>
              </card>
          </flexdeck>
      </projects>

      <swatches>
          <heading>COLOR PALETTE</heading>
          <swatch class="color-primary-0"></swatch>
          <swatch class="color-primary-1"></swatch>
          <swatch class="color-primary-2"></swatch>
          <swatch class="color-primary-3"></swatch>
          <swatch class="color-primary-4"></swatch>

          <swatch class="color-secondary-1-0"></swatch>
          <swatch class="color-secondary-1-1"></swatch>
          <swatch class="color-secondary-1-2"></swatch>
          <swatch class="color-secondary-1-3"></swatch>
          <swatch class="color-secondary-1-4"></swatch>

          <swatch class="color-secondary-2-0"></swatch>
          <swatch class="color-secondary-2-1"></swatch>
          <swatch class="color-secondary-2-2"></swatch>
          <swatch class="color-secondary-2-3"></swatch>
          <swatch class="color-secondary-2-4"></swatch>
      </swatches>

  </body>
</html>
