<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
    <div id="header">
        <div id="logo">
        <a class="white" href="/" title="Home">{{ site.title }}</a>
        </div>
        <div id="top_nav">
          {% for page in site.pages_list %}
          <a href="{{ page[1]  }}">{{ page[0] }}</a>
          {% endfor %}
        </div>
	</div>
    <div class="header_space"> </div>
    <div id="social">
        <a href="https://twitter.com/ryanjoelspencer" target="_blank">&#xf081;<!--twitter--></a>
        <a href="http://google.com/+RyanSpencerPlus" target="_blank">&#xf0d4;<!--google+--></a>
        <a href="https://github.com/rjspencer" target="_blank">&#xf09b;<!--github--></a>
        <a href="mailto:rjspencer82@gmail.com">&#xf0e0;<!--mail--></a>
    </div>
    
    <div id="container">
      <div id="content">      
      {{ content }}
      </div>  
      <div id="side_content">
        {% include code_resource_links.md | markdownify %}
        <pre class="code">{% include code_syntax_basics.md | markdownify %}</pre>
    </div>
    <div id="footer">
      <p>
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </p>
    </div>
  </body>
</html>
